
/* Body style */
body {
  font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #484848;
}

/*  horizontal scroll */
html, body {
  width: 100%;
  overflow-x: hidden;
}

/* main style */
.container {
  margin: 30px auto;
  max-width: 1000px;
}

/* bold style */
strong {
  font-weight: bold;
}
