
/* Body style */
body {
  font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #484848;
}


/* bols style */
strong {
  font-weight: bold;
}

/* the main  style */
.container {
  margin: 30px auto;
  max-width: 1000px;
}
